/* Tonal Palettes */
$color-source: #e23300;
$color-primary-0: #000000;
$color-primary-10: #3d0700;
$color-primary-20: #621100;
$color-primary-25: #761600;
$color-primary-30: #8a1c00;
$color-primary-35: #9f2100;
$color-primary-40: #b52700;
$color-primary-50: #e13300;
$color-primary-60: #ff562e;
$color-primary-70: #ff8b6e;
$color-primary-80: #ffb4a3;
$color-primary-90: #ffdad2;
$color-primary-98: #ffede9;
$color-primary-95: #fff8f6;
$color-primary-99: #fffbff;
$color-primary-100: #ffffff;
$color-secondary-0: #000000;
$color-secondary-10: #2c1510;
$color-secondary-20: #442a23;
$color-secondary-25: #51342e;
$color-secondary-30: #5d3f38;
$color-secondary-36: #6a4b43;
$color-secondary-40: #77574f;
$color-secondary-50: #926f67;
$color-secondary-60: #ae887f;
$color-secondary-70: #caa299;
$color-secondary-80: #e7bdb3;
$color-secondary-90: #ffdad2;
$color-secondary-95: #ffede9;
$color-secondary-98: #fff8f6;
$color-secondary-99: #fffbff;
$color-secondary-100: #ffffff;
$color-tertiary-0: #000000;
$color-tertiary-10: #241a00;
$color-tertiary-20: #3c2f04;
$color-tertiary-25: #483a0e;
$color-tertiary-30: #544519;
$color-tertiary-35: #605124;
$color-tertiary-40: #6d5d2e;
$color-tertiary-50: #877644;
$color-tertiary-60: #a28f5c;
$color-tertiary-70: #beaa74;
$color-tertiary-80: #dac58c;
$color-tertiary-90: #f7e1a6;
$color-tertiary-95: #ffefcc;
$color-tertiary-98: #fff8f0;
$color-tertiary-99: #fffbff;
$color-tertiary-100: #ffffff;
$color-neutral-0: #000000;
$color-neutral-10: #201a19;
$color-neutral-20: #362f2d;
$color-neutral-25: #413a38;
$color-neutral-30: #4d4543;
$color-neutral-35: #59504f;
$color-neutral-40: #655c5a;
$color-neutral-50: #7f7573;
$color-neutral-60: #998e8c;
$color-neutral-70: #b4a9a6;
$color-neutral-80: #d0c4c1;
$color-neutral-90: #ede0dd;
$color-neutral-95: #fbeeeb;
$color-neutral-98: #fff8f6;
$color-neutral-99: #fffbff;
$color-neutral-100: #ffffff;
$color-neutral-variant-0: #000000;
$color-neutral-variant-10: #251916;
$color-neutral-variant-20: #3b2d2a;
$color-neutral-variant-25: #473835;
$color-neutral-variant-30: #534340;
$color-neutral-variant-35: #5f4f4b;
$color-neutral-variant-40: #6c5b57;
$color-neutral-variant-50: #85736f;
$color-neutral-variant-60: #a08c88;
$color-neutral-variant-70: #bca7a2;
$color-neutral-variant-80: #d8c2bd;
$color-neutral-variant-90: #f5ddd8;
$color-neutral-variant-95: #ffede9;
$color-neutral-variant-98: #fff8f6;
$color-neutral-variant-99: #fffbff;
$color-neutral-variant-100: #ffffff;
$color-error-0: #000000;
$color-error-10: #410002;
$color-error-20: #690005;
$color-error-25: #7e0007;
$color-error-30: #93000a;
$color-error-35: #a80710;
$color-error-40: #ba1a1a;
$color-error-50: #de3730;
$color-error-60: #ff5449;
$color-error-70: #ff897d;
$color-error-80: #ffb4ab;
$color-error-90: #ffdad6;
$color-error-95: #ffedea;
$color-error-98: #fff8f7;
$color-error-99: #fffbff;
$color-error-100: #ffffff;

/* Light Theme */
$color-light-primary: $color-primary-40;
$color-light-on-primary: $color-primary-100;
$color-light-primary-container: $color-primary-90;
$color-light-on-primary-container: $color-primary-10;
$color-light-secondary: $color-secondary-40;
$color-light-on-secondary: $color-secondary-100;
$color-light-secondary-container: $color-secondary-90;
$color-light-on-secondary-container: $color-secondary-10;
$color-light-tertiary: $color-tertiary-40;
$color-light-on-tertiary: $color-tertiary-100;
$color-light-tertiary-container: $color-tertiary-90;
$color-light-on-tertiary-container: $color-tertiary-10;
$color-light-error: $color-error-40;
$color-light-on-error: $color-error-100;
$color-light-error-container: $color-error-90;
$color-light-on-error-container: $color-error-10;
$color-light-background: $color-neutral-99;
$color-light-on-background: $color-neutral-10;
$color-light-surface: $color-neutral-99;
$color-light-on-surface: $color-neutral-10;
$color-light-surface-variant: $color-neutral-variant-90;
$color-light-on-surface-variant: $color-neutral-variant-30;
$color-light-outline: $color-neutral-variant-50;

/* Dark Theme */
$color-dark-primary: $color-primary-80;
$color-dark-on-primary: $color-primary-20;
$color-dark-primary-container: $color-primary-30;
$color-dark-on-primary-container: $color-primary-90;
$color-dark-secondary: $color-secondary-80;
$color-dark-on-secondary: $color-secondary-20;
$color-dark-secondary-container: $color-secondary-30;
$color-dark-on-secondary-container: $color-secondary-90;
$color-dark-tertiary: $color-tertiary-80;
$color-dark-on-tertiary: $color-tertiary-20;
$color-dark-tertiary-container: $color-tertiary-30;
$color-dark-on-tertiary-container: $color-tertiary-90;
$color-dark-error: $color-error-80;
$color-dark-on-error: $color-error-20;
$color-dark-error-container: $color-error-30;
$color-dark-on-error-container: $color-error-90;
$color-dark-background: $color-neutral-10;
$color-dark-on-background: $color-neutral-90;
$color-dark-surface: $color-neutral-10;
$color-dark-on-surface: $color-neutral-90;
$color-dark-surface-variant: $color-neutral-variant-30;
$color-dark-on-surface-variant: $color-neutral-variant-80;
$color-dark-outline: $color-neutral-variant-60;

/* Default Theme */
$color-primary: $color-light-primary;
$color-on-primary: $color-light-on-primary;
$color-primary-container: $color-light-primary-container;
$color-on-primary-container: $color-light-on-primary-container;
$color-secondary: $color-light-secondary;
$color-on-secondary: $color-light-on-secondary;
$color-secondary-container: $color-light-secondary-container;
$color-on-secondary-container: $color-light-on-secondary-container;
$color-tertiary: $color-light-tertiary;
$color-on-tertiary: $color-light-on-tertiary;
$color-tertiary-container: $color-light-tertiary-container;
$color-on-tertiary-container: $color-light-on-tertiary-container;
$color-error: $color-light-error;
$color-on-error: $color-light-on-error;
$color-error-container: $color-light-error-container;
$color-on-error-container: $color-light-on-error-container;
$color-background: $color-light-background;
$color-on-background: $color-light-on-background;
$color-surface: $color-light-surface;
$color-on-surface: $color-light-on-surface;
$color-surface-variant: $color-light-surface-variant;
$color-on-surface-variant: $color-light-on-surface-variant;
$color-outline: $color-light-outline;

/* Other Color */
$color-link: #0B57D0;

$elevation-level-0: 0%;
$elevation-level-1: 5%;
$elevation-level-2: 8%;
$elevation-level-3: 11%;
$elevation-level-4: 12%;
$elevation-level-5: 14%;

@function elevation($surface, $alpha) {
  @return mix($color-primary, $surface, $alpha);
}

$state-none: 0%;
$state-hover: 8%;
$state-focus: 12%;
$state-pressed: 12%;
$state-dragged: 16%;

@function state($state-layer, $container, $alpha) {
  @return mix($container, $state-layer, $alpha);
}
