.drawer {
  position: fixed;
  margin-top: 64px;
  visibility: hidden;

  .drawer-scrim {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-neutral-variant-20, 0.4);
    transition: opacity 0.2s;
    opacity: 0;
  }

  .drawer-content {
    display: flex;
    flex-flow: column;
    overflow: auto;
    width: min(360px, 75vw);
    height: calc(var(--vh, 0.5vh) * 100 - 64px);
    padding-left: 12px;
    padding-right: 12px;
    background-color: $color-surface;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    transform: translateX(-100%);
    transition-timing-function: ease-in;
    transition: transform 0.2s;

    .outline {
      width: calc(100% - 32px);
      margin: 0 16px;
      border: none;
      border-bottom: 1px solid $color-neutral-variant-50;
    }

    .drawer-menu {
      text-decoration: none;
      color: inherit;
      display: inline-flex;
      border-radius: 28px;
      padding-left: 16px;
      padding-right: 16px;
      min-height: 56px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      .logo {
        display: grid;
        align-items: center;
        margin-right: 12px;
      }

      .text {
        display: grid;
        align-items: center;
        font-size: $font-label-large-size;
        font-weight: $font-label-large-weight;
        line-height: $font-label-large-line-height;
      }

      .open-in-new {
        display: grid;
        align-items: center;
        padding-left: 4px;
        padding-bottom: 4px;
        color: $color-neutral-variant-50;
      }
    }

    @media (hover: hover) {
      .drawer-menu {
        transition: 0.4s;
      }

      .drawer-menu:hover {
        transition: 0.4s;
        background-color: $color-secondary-container;
      }
    }

    @media (hover: none) {
      .drawer-menu {
        transition: 0.4s;
      }

      .drawer-menu:active {
        transition: 0.2s;
        background-color: $color-secondary-container;
      }
    }
  }
}

.drawer-open {
  visibility: visible;

  .drawer-scrim {
    opacity: 1;
  }

  .drawer-content {
    transform: translateX(0%);
    transition-timing-function: ease-out;
  }
}