header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: $color-surface;

  .container {
    display: grid;
    height: 64px;
    max-width: $screen-size-desktop-min;
    margin-left: auto;
    margin-right: auto;

    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      width: 25%;
    }

    a {
      display: block;
      align-items: center;
      text-align: center;
      justify-content: center;
      color: inherit;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      width: 80%;
      height: 48px;
      margin-top: -8px;
      margin-left: 10%;
      border-radius: 24px;

      .icon {
        border-radius: 24px;
      }

      .label {
        font-size: $font-size-navigation-text-small;
        font-weight: 500;
      }
    }

    @media screen and (min-width: $screen-size-tablet-min) {
      a {
        display: flex;
        width: 128px;
        margin-top: 0;

        ali .icon {
          margin-top: 2px;
          margin-right: 4px;
        }

        .label {
          font-size: $font-size-navigation-text-normal;
          font-weight: 500;
          margin-top: 0;
        }
      }
    }

    @media (hover: hover) {
      a {
        transition: 0.4s;
      }

      a:hover {
        transition: 0.4s;

        .icon {
          background: $color-secondary-container;
        }

        @media screen and (min-width: $screen-size-tablet-min) {
          background: $color-secondary-container;

          .icon {
            background: transparent;
          }
        }
      }
    }

    @media (hover: none) {
      a {
        transition: 0.8s;
      }

      a:active {
        transition: 0.1s;

        .icon {
          background: $color-secondary-container;
        }
      }
    }
  }
}