header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: $color-surface;

  .menu {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 32px;
  }

  .title {
    display: flex;
    border-radius: 32px;

    .logo {
      display: grid;
      align-items: center;
      margin: 8px;
    }

    .text {
      display: none;
    }

    @media screen and (min-width: $screen-size-tablet-min) {
      .text {
        display: grid;
        align-items: center;
        font-size: $font-size-top-bar-px;
        font-weight: 500;
        margin-right: 8px;
      }
    }
  }

  @media (hover: hover) {
    .menu {
      transition: 0.4s;
    }

    .menu:hover {
      transition: 0.4s;
      background-color: $color-secondary-container;
    }

    .title {
      transition: 0.4s;
    }

    .title:hover {
      transition: 0.4s;
      background-color: $color-secondary-container;
    }
  }

  @media (hover: none) {
    .menu {
      transition: 0.8s;
    }

    .menu:active {
      transition: 0.1s;
      background-color: $color-secondary-container;
    }

    .title {
      transition: 0.8s;
    }

    .title:active {
      transition: 0.1s;
      background-color: $color-secondary-container;
    }
  }
}