.photo-slider {
  position: relative;
  width: calc(100% - 32px);
  aspect-ratio: 1.618034;
  margin: 0 auto;

  img {
    position: absolute;
    width: 100%;
    aspect-ratio: 1.618034;
    object-fit: cover;
  }

  .fadeout {
    opacity: 0;
    transition: 2s ease-in-out;
  }

  .fadein {
    opacity: 1;
    transition: 2s ease-in-out;
  }

  .quick-out {
    opacity: 0;
    transition: 0.1s ease-in-out;
  }

  .quick-in {
    opacity: 1;
    transition: 0.1s ease-in-out;
  }

  .indicator {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;

    .item {
      display: inline-block;
      vertical-align: bottom;

      .circle {
        background-color: rgba(255, 0, 0, 0.5);
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 6px;
      }
    }

    .active {
      .circle {
        background-color: rgba(255, 255, 0, 0.5);
      }
    }
  }
}