.post-card {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 12px;
  overflow: hidden;
  background-color: $color-surface;
  outline: 1px solid $color-outline;
  outline-offset: -1px;

  a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
  }

  .post-image {
    width: 100%;
    aspect-ratio: $golden-ratio;
    object-fit: cover;
  }

  .post-info {
    margin: 8px 16px 16px 16px;

    .post-title {
      @extend .font-title-medium;
      margin-bottom: 8px;
    }
  }
}