.top-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.post {
  @extend .body-medium;
  margin: 0 24px;

  .top-title {
    margin: 8px 0;
    padding-top: 0;
  }

  .top-tag {
    @extend .title-small;
    cursor: pointer;
    text-decoration: none;
    color: $color-link;
    display: inline-block;
    margin-right: 8px;

    &:before {
      content: "#";
    }
  }

  .top-date {
    @extend .title-small;
    margin-bottom: 16px;
  }

  h1 {
    @extend .headline-large;
  }

  h2 {
    @extend .headline-medium;
  }

  h3,
  h4,
  h5,
  h6 {
    @extend .headline-small;
  }

  h2,
  h3,
  h4 {
    cursor: text;

    a {
      color: inherit;
      text-decoration: none;
      pointer-events: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: -64px 0 0 0;
    padding: 64px 0 0 0;
  }
}