// color
$color-text: #333333;
$color-black: #000000;
$color-white: #FFFFFF;

$color-neutral-0: #000000;
$color-neutral-10: #1C1B1F;
$color-neutral-20: #313033;
$color-neutral-30: #484649;
$color-neutral-40: #605D62;
$color-neutral-50: #787579;
$color-neutral-60: #939094;
$color-neutral-70: #AEAAAE;
$color-neutral-80: #C9C5CA;
$color-neutral-90: #E6E1E5;
$color-neutral-95: #F4EFF4;
$color-neutral-99: #FFFBFE;
$color-neutral-100: #FFFFFF;

$color-neutral-variant-0: #000000;
$color-neutral-variant-10: #1D1A22;
$color-neutral-variant-20: #322F37;
$color-neutral-variant-30: #49454F;
$color-neutral-variant-40: #605D66;
$color-neutral-variant-50: #79747E;
$color-neutral-variant-60: #938F99;
$color-neutral-variant-70: #AEA9B4;
$color-neutral-variant-80: #CAC4D0;
$color-neutral-variant-90: #E7E0EC;
$color-neutral-variant-95: #F5EEFA;
$color-neutral-variant-100: #FFFFFF;

$color-primary: #6750A4;
$color-primary-container: #EADDFF;
$color-secondary: #625B71;
$color-secondary-container: #E8DEF8;
$color-tertiary: #7D5260;
$color-tertiary-container: #FFD8E4;
$color-surface: #FFFBFE;
$color-surface-variant: #E7E0EC;
$color-background: #FFFBFE;
$color-error: #B3261E;
$color-error-container: #F9DEDC;
$color-on-primary: #FFFFFF;
$color-on-primary-container: #21005E;
$color-on-secondary: #FFFFFF;
$color-on-secondary-container: #1E192B;
$color-on-tertiary: #FFFFFF;
$color-on-tertiary-container: #370B1E;
$color-on-surface: #1C1B1F;
$color-on-surface-variant: #49454E;
$color-on-error: #FFFFFF;
$color-on-error-container: #370B1E;
$color-on-background: #1C1B1F;
$color-outline: #79747E;
$color-shadow: #000000;
$color-surface-tint: #6750A4;
$color-inverse-surface: #313033;
$color-inverse-on-surface: #F4EFF4;
$color-inverse-primary: #D0BCFF;

// font family
$font-family-sans-serif: 'Noto Sans JP', sans-serif;

// aspect ratio
$golden-ratio: 1.6180339887;

// screen size
$screen-x-small-min: 320px;
$screen-small-min: 576px;
$screen-medium-min: 768px;
$screen-large-min: 992px;
$screen-x-large-min: 1200px;
$screen-xx-large-min: 1400px;