@font-face {
  font-family: "Yaku Kumi Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/YakuKumiSans-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Yaku Kumi Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/YakuKumiSans-Medium.woff2) format("woff2");
}
