@import 'variable', 'main-wrapper', 'header', 'drawer', 'home', 'posts';

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-sans-serif;
  -webkit-text-size-adjust: 100%;
  line-break: strict;
  text-align: justify;
  color: $color-on-background;
  background-color: $color-background;
}