@import 'variable', 'header';

body {
  font-family: $font-family-sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-text;
  -webkit-text-size-adjust: 100%;
  line-break: strict;
  text-align: justify;
}